.sidebar-nav{
    position: fixed;
    height: 100%;
    width: 150px;
    background-color: rgb(255 ,255, 0);
}
.body{
    width: 80%;
    float: right;
}
body{
    /*background-color: #0000ff !important;*/
    height: 255px;
}

.btn-secondary, .btn-primary{
    background-color: white !important;
    color: black !important;
}

a{
    color: black !important;
    text-decoration: none !important;
}

.no-border {
    border: 0 !important;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
