{% extends 'base.html.twig' %}

{% block title %}Overzicht Kok{% endblock %}

{% block body %}
    <h1>Overzicht kok</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Gerecht</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        {% for bestelling in bestellings %}
            {% if bestelling.Datum == 'now'|date('Y-m-d') %}
            <tr>
                <td>{{ bestelling.MenuItem }}</td>
                <td>{{ bestelling.Aantal }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
