{% extends 'base.html.twig' %}

{% block title %}Overzicht Kok{% endblock %}

{% block body %}
    <h1>Overzicht kok</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Gerecht</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        {% for bestelling in bestellings %}
            {% if bestelling.Datum == 'now'|date('Y-m-d') %}
                {% if bestelling.MenuItemcode == 1 or bestelling.MenuItemcode == 2 or bestelling.MenuItemcode == 3 or bestelling.MenuItemcode == 8 or bestelling.MenuItemcode == 9 %}
                    <tr>
                        <td>{{ bestelling.MenuItem }}</td>
                        <td>{{ bestelling.Aantal }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">Geen overzicht gevonden</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
